<% provide(:page_id, "home-page-container") %>

<div class="center-column container">
	<div class="row">
		<div class="span4 offset4">
			<div id="top">
				<div id="logo">
					<%= image_tag "730-Wordmark.png" %>
				</div>
			</div>
		</div>
	</div>
</div>