@import "bootstrap";

$bodyTopMargin:50px;
$backgroundColor: #555555;
$logoHeight:50px;
$baseFontSize:30px;
$linkColor:#FFFFFF;

@mixin baseFont {
	font-size:$baseFontSize;
	color: #FFFFFF;
	line-height:$baseFontSize;
}

@mixin verticalSection {
	display:block;
	margin-top:$baseFontSize / 2;
}

/* Global */

a, a:link, a:active {
	color:$linkColor;
	text-decoration: none;
}

a:hover {
	color:
		darken($linkColor, 50%);
}

body {
	background-color:$backgroundColor;
	font-family: "proxima-nova",sans-serif;
	@include baseFont;
}

.center-column {
	margin-top:$bodyTopMargin;
}

/* Home page */

#home-page-container {
	width:100%;
	
	#top {
	margin-top:100px;
	padding-left:$bodyTopMargin;
		#logo {
			display:inline-block;
				img {
				height: $logoHeight;
			}
		}		
	}
	
	#middle-row {
	padding-left:$bodyTopMargin;

		display:block;
		overflow:hidden;
		background-color:#CCCCCC;
		
		#services {
			width:50%;
			float:left;
		}
		
		#portfolio {
			width:50%;
			float:right;	
		}
	}
	
	#bottom {
		display:block;
		padding-left:$bodyTopMargin;

		#contact {
			@include baseFont;
			@include verticalSection;
			
			display: inline-block;
		
			background-color: #66CD00;
			
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			
			padding:8px;
		}
	}
}
